name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Build
        run: |
          python -m pip install -U pip build setuptools wheel
          python -m build --no-isolation
      - name: Check dist metadata
        run: |
          python -m pip install -U twine
          python -m twine check dist/*
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.2
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
